{% extends 'master/master.html' %}

{% load static %}

{% block title %}
    <title>Add Account Type</title>
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1>Add Account Type</h1>
        <form method="post" action="{% url 'add_account_type' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add</button>
            <button onclick="history.back()" class="btn btn-success">Back</button>
        </form>
    </div>
{% endblock content %}